@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body{
    margin: 0px;
}
.container{
    margin: 0 auto;
    width: 1225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    background: black;
    color: white;
    padding: 8px 20px 6px 40px;
    height: 50px;
}

header h1{
    display: inline;
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 32px;
    float: left;
    margin-top: 0px;
    margin-right: 10px;
}

nav ul {
    display: inline;
    padding: 0px;
    float: right;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    color: white;
    /*float: left;*/
    margin-left: 12px;
    

}

nav ul li a{
    color: white;
    text-decoration: none;	
}


nav ul ul{
    display: none;
    position: absolute;
}

#navli ul li ul:hover{
    visibility: visible;
    display: block;
}

#navli{
    font-family: 'Montserrat', sans-serif;
}

.homered{
    background-color: red;
    padding: 30px 10px 22px 10px;
}

.divider{
    background-color: red;
    height: 5px;
}

.homeblack:hover{
    background-color: red;
    padding: 30px 10px 21px 10px;

}

table {
margin: 0px;
border-collapse: collapse;
width: 100%;
font-family: 'Montserrat', sans-serif;
}

th, td {
text-align: center;
padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:hover {background-color:#76D7C4;}

th {
background-color: #4CAF50;
color: white;
}
.box-search {
    position: relative;
    left: 5px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;
}

#search{
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-search {
    padding-left: 20px;
    border-top: 2px solid;
    padding-top: 10px;
}
.form-search input {
    width: 300px;
}
.form-search select {
    cursor: pointer;
    padding: 0px;
    height: 28px;
}
.form-search button {
    cursor: pointer;
    margin: 0px;
    margin-left: 3px;
    padding: 0px;
    text-align: center;
    background-color: white;
    width: 30px;
    border: none;
    height: 28px;
}
button:hover {
    opacity: 0.4;
}

.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}