/* google font */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');



:root{
    --font-heading: crimson;
    --para-font: #777777;
    --black: #222222;
    --bg: rgba(237, 28, 70);
    --white: #fff;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}

.header {
    width: 100%;
    height: 100vh;
    background: url(images/img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    padding: 8rem 7%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}

.logo img{
    width: 100%;
    height: 5rem;
}

.links a {
    color: var(--white);
    font-size: 1.5rem;
    margin-right: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    position: relative;
}


nav .links button{
    padding: 1.3rem 4rem;
    margin: 2rem 0;
    cursor: pointer;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 500;
    border: 0.3rem solid var(--font-heading);
    border-radius: 7px;
    background: none;
    transition: all linear 0.5s;
}


nav .links button:hover{
    background-color: red;
    color: var(--white);
}
/*--------------*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 290px;
    top: 100px;
    width: 60%; /* Full width */
    height: 60%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

  
  /* Modal Content */
.modal-content {
    background: transparent;
    backdrop-filter: blur(20px);
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
}
  
form {
	font-size: 15px;
    width: 50% auto
}

/* The Close Button */
.close {
    color: #f1f1f1;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 5px;
}
  
.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
  
.modal-content input[type=text], input[type=password] {
    color: red;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: transparent;
}

.modal-content button{
    font-size: 15px;
    border-radius: 7px;
    position: relative;
    left: 25%;
    width: 50%;
    padding: 12px 20px;
    margin: 10px 0;
    color: var(--white);
	cursor: pointer;
	border: 1px solid #ccc;
    box-sizing: border-box;
    background: transparent;
	outline: none;
}

.modal-content button:hover {
    background-color: red;
    text-decoration: none;
    cursor: pointer;
}


/*.cancelbtn {
    width: auto;
    padding: 10px 15px;
}*/
  
.modal-content .container {
    padding: 10px;
}
.modal-content .container b{
    float: left;
    padding-top: 20px;
    color: red;
}
  
span.psw {
    float: right;
    padding-top: 16px;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
/*-----------------*/


nav .links a:after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--bg);
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s;
}

nav .links a:hover::after {
    width: 100%;
}

nav #menu-btn,
nav #close {
    color: var(--white);
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
}

.header .content {
    padding: 150px 7%;
    color: var(--white);
}

.header .content h3 {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 3rem 0;
}

.header .content h1 {
    font-size: 5rem;
    letter-spacing: 2px;
}

.btn {
    padding: 1.3rem 5rem;
    margin: 3rem 0;
    cursor: pointer;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 500;
    border: 0.3rem solid var(--font-heading);
    border-radius: 7px;
    background: none;
    transition: all linear 0.5s;

}

.btn:hover {
    background: var(--bg);
    color: var(--white);
    transform: translate(0px, -3px);
}


.nav-change {
    background: rgba(0, 0, 0, 0.9);
}

.about .container {
    display: flex;
    justify-content: space-between;
}


.about .container .image {
    flex-basis: 50%;
    background: url(images/img/anh3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 16rem 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgb(195, 193, 193);
}

.about .container .about-content {
    flex-basis: 40%;
}

.about .container .about-content h1 {
    font-size: 4rem;
    color: var(--font-heading);
    padding: 1rem 0;
}

.about .container .about-content h3 {
    color: var(--black);
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 1rem 0;
}

.about .container .about-content p {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--black);
    line-height: 1.5;
}

.heading {
    font-size: 5rem;
    text-align: center;
}

.heading span {
    color: var(--font-heading);
}

.heading-description {
    text-align: center;
    padding: 1.3rem 0;
    font-size: 1.6rem;
    font-weight: 300;
}

.blog .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 2rem;
    padding: 2.5rem 0;
}

.blog .container .post {
    border: 0.2rem solid var(--bg);
    border-radius: 10px;
    height: auto;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px grey;
    transition: 0.4s linear all;
}

.blog .container .post:hover {
    transform: translate(0px, -5px);
}

.blog .container .post .blog-img {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.blog .container .post .blog-img img {
    width: 100%;
    height: auto;
}

.blog .container .post .blog-content {
    padding: 2rem;
}

.blog .container .post .blog-content h3 {
    font-size: 1.6rem;
    padding: 1.3rem 0;
    letter-spacing: 0.1rem;
}

.blog .container .post .blog-content h3 span {
    color: var(--bg);
}

.blog .container .post .blog-content h1 {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: 2rem;
}

.blog .container .post .blog-content p {
    font-size: 1.4rem;
    color: var(--para-font);
}

.blog .container .post:hover img {
    transform: scale(1.1);
}

.blog .container .post .blog-img span {
    position: absolute;
    background: var(--bg);
    bottom: 5%;
    right: 5%;
    padding: 1.2rem 1.4rem;
    color: var(--white);
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
}

/*menu*/

.service .container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}

.slide-container {
    margin: 0 30px;
    overflow: hidden;
}
.card {
    background: #fff;
    border-radius: 8px;
}
.card .image-box {
    height: 200px;
}
.card .image-box img{
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
}
.card .profile-details {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 15px;
}
.card .profile-details img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.profile-details .name {
    font-size: 15px;
    font-weight: 500;
}
.profile-details .job {
    font-size: 12px;
    font-weight: 500;
    color: #4d4d4d;
}
  
.swiper-navBtn {
    color: #000;
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 50%;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 18px;
}
  
.swiper-pagination-bullet {
    background-color: #a84747;
}

.do-uong{
    font-size: 2rem;
    font-weight: 500;
    padding: 0;
    margin: 0 0 30px;
    text-align: center;
    text-transform: uppercase;
}
/*menu*/


/*store*/
.store input{
    display: none;
}

.container1{
    width: 100%;
    text-align: center;
}

.container1 .top-content{
    background-color: lightgray;
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
}

.container1 .top-content h3{
    height: 100%;
    background-color: rgb(221, 221, 221);
    line-height: 60px;
    padding: 0 50px;
    color: black;
}

.container1 .top-content label{
    display: inline-block;
    height: 100%;
    /*padding: 0 5px;*/
    margin: 0 20px;
    line-height: 60px;
    font-size: 18px;
    color: black;
    cursor: pointer;
    transition: .5s;
}

.container1 .top-content label:hover{
    color: red;
}

.photo-gallary{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.pic{
    position: relative;
    height: 230px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    transition: .5s;
}

.pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}

.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.full-img img{
    width: 100%;
    max-width: 800px;
}

.full-img span{
    position: absolute;
    top: 20%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
}

/*.pic::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}

.store .container1 .photo-gallary .pic::after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: .3s;
}

.pic:hover::after{
    height: 100%;

}

.pic:hover::before{
    margin-top: 0;
    opacity: 1;
}*/

#check1:checked ~ .container1 .photo-gallary .pic{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}

#check2:checked ~ .container1 .photo-gallary .bar{
    opacity: 1;
    transform: scale(1);
    position: relative;
}

#check2:checked ~ .container1 .photo-gallary .out,
#check2:checked ~ .container1 .photo-gallary .play,
#check2:checked ~ .container1 .photo-gallary .drink{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}

#check3:checked ~ .container1 .photo-gallary .out{
    opacity: 1;
    transform: scale(1);
    position: relative;
}

#check3:checked ~ .container1 .photo-gallary .bar,
#check3:checked ~ .container1 .photo-gallary .play,
#check3:checked ~ .container1 .photo-gallary .drink{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}

#check4:checked ~ .container1 .photo-gallary .play{
    opacity: 1;
    transform: scale(1);
    position: relative;
}

#check4:checked ~ .container1 .photo-gallary .bar,
#check4:checked ~ .container1 .photo-gallary .out,
#check4:checked ~ .container1 .photo-gallary .drink{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}

#check5:checked ~ .container1 .photo-gallary .drink{
    opacity: 1;
    transform: scale(1);
    position: relative;
}

#check5:checked ~ .container1 .photo-gallary .bar,
#check5:checked ~ .container1 .photo-gallary .out,
#check5:checked ~ .container1 .photo-gallary .p{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}
/*store*/


/*contact*/

.contact-box{
    width: 80%;
    margin: 50px auto;
    display: flex;
}

.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right{
    flex-basis: 40%;
    padding: 40px;
}

.input-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}

.contact input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
    margin-top: 5px;
}

.contact textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label{
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;
}

.contact button{
    width: 100px;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
}

.contact .contact-left h3{
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 30px;
}

.contact .contact-right h3{
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 30px;
}

/*.contact .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    padding: 2.5rem 0;

}

.contact .container .contact-box {
    border: 0.2rem solid var(--bg);
    border-radius: 1rem;
    padding: 2rem;
    cursor: pointer;
}

.contact .container .contact-box div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 0;
}

.contact .container .contact-box div i {
    width: 4rem;
    height: 4rem;
    background: var(--bg);
    color: var(--white);
    text-align: center;
    font-size: 1.3rem;
    line-height: 4rem;
    border-radius: 100%;
}

.contact .container .contact-box div h2 {
    font-size: 1.8rem;

}

.contact .container .contact-box div h2 span {
    font-weight: 300;

}

.contact .container .contact-box div p {
    font-size: 1.5rem;
}

.contact .container .contact-box:hover {
    background: #686a6f;
    color: var(--white);
}*/
/*contact*/


.footer {
    width: 100%;
    height: auto;
    background: url(images/img/foot-bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20rem;
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    padding: 2.5rem 0;
}

.footer .container .footer-box {
    padding: 1rem;
}

.footer .container .footer-box h3 {
    color: var(--white);
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
}

.footer .container .footer-box p {
    color: var(--white);
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 400;
    padding: 1.2rem 0;
}

.footer .container .footer-box form input {
    width: 70%;
    padding: 1rem;
}

.footer .container .footer-box p a {
    color: var(--bg);
}

.footer .container .footer-box form button {
    background: var(--bg);
    color: var(--white);
    padding: 1rem;
    cursor: pointer;
}

.footer .container .footer-box div a {
    margin: 0.5rem;
    color: var(--white);
    display: inline-block;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    background: var(--bg);
}


@media only screen and (max-width: 991px) {
    html {
        font-size: 55%;

    }

    nav {
        padding: 3rem 3rem;
    }

    .content {
        text-align: center;
    }
}


@media only screen and (max-width: 768px) {


    nav #menu-btn {
        display: inline-block;
    }

    nav .links {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: #eee;
        transition: 0.5s;
        background: black;
    }

    nav .links a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--white);
        text-align: center;
    }

    .about .container {
        flex-direction: column;
    }

    .about .container .about-content {
        text-align: center;
    }
}




/*------------------*/
/*.dropbtn {
    background-color: red;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }*/
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    border: 1px solid #ccc;

  }
  
  .dropdown-content a {
    text-align: center;
    color: white;
    padding: 12px 16px;
    margin: 0;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color:transparent}

  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: red;
  }